
<div class="jumbotron text-center ">
  <div class="col">

  </div>
  <div class="row ">
    <div class="col-md-4 ">
      <div class="card mb-4 shadow-sm ">
        <a href="../menu/matricula"><img src="../../assets/img/matricula.jpg " width="100% " height="225 "
             class="btn btn-sm btn-outline-secondary "> </a>
        <div class="card-body "><br>
          <p class="card-text ">Gestión de Matriculación</p><p>Realiza el proceso de Matriculación en línea </p>
          <div class="d-flex justify-content-between align-items-center ">
            <div class="btn-group ">
              <button type="button " class="btn btn-sm btn-outline-secondary "
              ><a href="../menu/matricula">Leer más</a></button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="card mb-4 shadow-sm ">
        <a href="../menu/matricula"><img src="../../assets/img/1.jpg " width="100% " height="225 "  class="btn btn-sm btn-outline-secondary " routerLink='inscripcion'></a>
        <div class="card-body "><br>
          <p class="card-text ">Gestión de Inscripción</p><p>Inscribete en línea fácil y rápido </p>
          <div class="d-flex justify-content-between align-items-center ">
            <div class="btn-group ">
              <button type="button "  class="btn btn-sm btn-outline-secondary " routerLink='inscripcion'><a href="../menu/inscripcion">Leer más</a></button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="card mb-4 shadow-sm ">
        <img src="../../assets/img/Academica.jpeg" width="100% " height="225 "
             class="btn btn-sm btn-outline-secondary ">
        <div class="card-body "><br>
          <p class="card-text "></p>Gestión Académico<p>Registro de notas por materias, control de asistencia y Procesos de Gestión del Director
            de carrera.</p>
          <div class="d-flex justify-content-between align-items-center ">
            <div class="btn-group ">
              <button type="button " class="btn btn-sm btn-outline-secondary ">Leer más</button>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 "><br><br>
      <div class="card mb-4 shadow-sm ">
        <img src="../../assets/img/1.jpg " width="100% " height="225 " class="btn btn-sm btn-outline-secondary ">
        <div class="card-body "><br>
          <p class="card-text ">Servicio Comunitario</p><p>La vinculación con la sociedad es un proceso que trata en realizar actividades que buscan la transformación de la sociedad</p>
          <div class="d-flex justify-content-between align-items-center ">
            <div class="btn-group ">
              <button type="button " class="btn btn-sm btn-outline-secondary ">Leer más</button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 "><br><br>
      <div class="card mb-4 shadow-sm ">
        <img src="../../assets/img/Practicas.jpeg " width="100% " height="225 "
             class="btn btn-sm btn-outline-secondary ">
        <div class="card-body "><br>
          <p class="card-text ">Practicas Preprofesionales</p><p>Propiciar al estudiante el vínculo con el entorno investigativo, social, educativo, económico, productivo, cultural y ambiental.</p>
          <div class="d-flex justify-content-between align-items-center ">
            <div class="btn-group ">
              <button type="button " class="btn btn-sm btn-outline-secondary ">Leer más</button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 "><br><br>
      <div class="card mb-4 shadow-sm ">
        <img src="../../assets/img/Titulacion.jpeg" width="100% " height="225 "
             class="btn btn-sm btn-outline-secondary ">
        <div class="card-body "><br>
          <p class="card-text ">Titulación</p>
          <p>Conoce los lineamientos para desarrollar el trabajo de titulación
            de acuerdo a las normas establecidas, así como la consulta y asignación de temas, tribunales y
            cronogramas</p>
          <div class="d-flex justify-content-between align-items-center ">
            <div class="btn-group ">
              <button type="button " class="btn btn-sm btn-outline-secondary ">Leer más</button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 "><br><br>
      <div class="card mb-4 shadow-sm ">
        <img src="../../assets/img/06.jpg " width="100% " height="225 " class="btn btn-sm btn-outline-secondary ">
        <div class="card-body "><br>
          <p class="card-text ">Recursos Humanos</p><p>Gestión de reclutamiento, contratación de nuevos docentes. Gestión de evaluaciones a docentes.</p>
          <div class="d-flex justify-content-between align-items-center ">
            <div class="btn-group ">
              <button type="button " class="btn btn-sm btn-outline-secondary ">Leer más</button>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 "><br><br>
      <div class="card mb-4 shadow-sm ">
        <img src="../../assets/img/Activos Fijos.jpeg" width="100% " height="225 "
             class="btn btn-sm btn-outline-secondary ">
        <div class="card-body "><br>
          <p class="card-text ">Activos Fijos</p><p>Un activo fijo es un bien que no se convierte en liquido a corto plazo, y los cuales no se destinan a la venta.</p>
          <div class="d-flex justify-content-between align-items-center ">
            <div class="btn-group ">
              <button type="button " class="btn btn-sm btn-outline-secondary ">Leer más</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

