<h1 class="h3 text-center" style="color: #da8408;font-weight: bold; font-size:50px;">Matrícula</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 ">

      <div style="list-style-type:none; margin: 140px;" class="text-center">
        <li>
          <ul><button type="button" class="btn btn-lg" style="background-color: #081451; color: white; font-size:medium; width:190px; height:70px;"> Ficha Socieconomica</button> </ul>
          <ul><button type="button" class="btn  btn-lg" style="background-color: #081451; color: white; font-size:medium; width:190px; height:70px;"> Voucher de pago</button></ul>
          <ul><button type="button" class="btn btn-lg" style="background-color: #081451; color: white;font-size:medium; width:190px; height:70px;"> Carga Académica</button></ul>
        </li>
      </div>

    </div>
    <div class="col-sm-8" >
      <div class="py-5 text-center">

        <img src="assets/img/111.jpg" alt="" style="width:550px; padding:20px ">

      </div>
    </div>
  </div>
</div>


