


    <!-- Code Banner

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/img/banner/Foto-1-768x562.jpg" class="d-block" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/assets/img/banner/pexels-pixabay-267885.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/assets/img/banner/pexels-tamás-mészáros-12064.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  End Code banner -->
    <!-- Code Container -->

    <div class="card-group">
      <div class="card verde">
        <div class="card-body">
          <h4 class="card-title">BUZÓN DE SUGERENCIAS</h4>
          <p class="card-text">Ingresar al buzón de sugerencias Dirección de Aseguramiento de la Calidad.</p>
        </div>
      </div>
      <div class="card rojo">
        <div class="card-body">
          <h4 class="card-title">AGENDAR CITAS</h4>
          <p class="card-text">Para un mejor atención agende su cita con el Departamento correspondiente, aquí..</p>
        </div>
      </div>
      <div class="card celeste">
        <div class="card-body text-color">
          <h4 class="card-title">INSCRIPCIONES ABIERTAS</h4>
          <p class="card-text">Inscríbete en línea o acércate a nuestras instalaciones.</p>
        </div>
      </div>
    </div>

    <!-- End Container -->

     <!-- Card ANUNCIOS -->
     <div class="container container mt-4 mb-5">
      <div class="parent">
      <h3 class="display-4 text-center"> ANUNCIOS    </h3>
      <img src="../../assets/img/Screenshot_7.png" alt="">
    </div>
      <hr class="bg-dark mb-4 w-25">
      <div class="row">
          <div class="col-md-4 space-container">
              <div class="card">
                  <img class="card-img-top" src="/assets/img/anuncios/ELECCIONES-2021Artboard-1-1-1-768x768.png" alt="Card image cap">
                  <div class="card-block p-3">
                      <h4 class="card-title">INICIO DE CAMPAÑA ELECTORAL</h4>

                      <a href="#" class="btn btn-primary rounded-0 mb-2">Leer más</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4 space-container">
              <div class="card">
                  <img class="card-img-top" src="/assets/img/anuncios/intercambio-768x987.jpg" alt="Card image cap">
                  <div class="card-block p-3">
                      <h4 class="card-title">INTERCAMBIO ESTUDIANTIL</h4>

                      <a href="#" class="btn btn-primary rounded-0 mb-2">Leer más</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4 space-container">
              <div class="card">
                  <img class="card-img-top" src="/assets/img/anuncios/CONVOCATORIA-ELECCIONES-COMITE-ALUMNI-768x768.jpeg" alt="Card image cap">
                  <div class="card-block p-3">
                      <h4 class="card-title">ELECCIONES ALUMNI 2022</h4>

                      <a href="#" class="btn btn-primary rounded-0 mb-2">Leer más</a>
                  </div>
              </div>
          </div>
      </div>
  </div>

   <!-- Card fin ANUNCIOS-->


 <!-- Card EVENTOS-->
 <div class="container container mt-4 mb-5">
  <div class="parent">
    <h3 class="display-4 text-center"> EVENTOS    </h3>
    <img src="../../assets/img/Screenshot_7.png" alt="">
  </div>
  <hr class="bg-dark mb-4 w-25">
  <div class="row">
      <div class="col-md-4 space-container">
          <div class="card">
              <img class="card-img-top" src="/assets/img/eventos/capacitacion-768x609.jpg" alt="Card image cap">
              <div class="card-block p-3">
                  <h4 class="card-title">CAPACITACIÓN TÉCNICA</h4>

                  <a href="#" class="btn btn-primary rounded-0 mb-2">Leer más</a>
              </div>
          </div>
      </div>
      <div class="col-md-4 space-container">
          <div class="card">
              <img class="card-img-top" src="/assets/img/eventos/WhatsApp-Image-2022-06-28-at-10.11.50-AM-768x770.jpeg" alt="Card image cap">
              <div class="card-block p-3">
                  <h4 class="card-title">WEBINAR DERECHO</h4>

                  <a href="#" class="btn btn-primary rounded-0 mb-2">Leer más</a>
              </div>
          </div>
      </div>
      <div class="col-md-4 space-container">
          <div class="card">
              <img class="card-img-top" src="/assets/img/eventos/nut-768x768.jpg" alt="Card image cap">
              <div class="card-block p-3">
                  <h4 class="card-title">WEBINAR NUTRICIÓN</h4>

                  <a href="#" class="btn btn-primary rounded-0 mb-2">Leer más</a>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Card fin EVENTOS-->

 <!-- Card  NOTICIAS -->
 <div class="container container mt-4 mb-5">
  <div class="parent">
    <h3 class="display-4 text-center"> NOTICIAS    </h3>
    <img src="../../assets/img/Screenshot_7.png" alt="">
  </div>
  <hr class="bg-dark mb-4 w-25">
  <div class="row">
      <div class="col-md-4 space-container">
          <div class="card">
              <img class="card-img-top" src="/assets/img/noticias/PHOTO-2022-04-20-14-05-07-2-768x457.jpg" alt="Card image cap">
              <div class="card-block p-3">
                  <h4 class="card-title">INAGURACIÓN DEL CONSULTORIO JURÍDICO GRATUITO UNIB.E</h4>

                  <a href="#" class="btn btn-primary rounded-0 mb-2">Leer más</a>
              </div>
          </div>
      </div>
      <div class="col-md-4 space-container">
          <div class="card">
              <img class="card-img-top" src="/assets/img/noticias/revista-727x1024.jpeg" alt="Card image cap">
              <div class="card-block p-3">
                  <h4 class="card-title">REVISTA CIENTÍFICA QUALITAS VOLUMEN 22</h4>

                  <a href="#" class="btn btn-primary rounded-0 mb-2">Leer más</a>
              </div>
          </div>
      </div>
      <div class="col-md-4 space-container">
          <div class="card">
              <img class="card-img-top" src="/assets/img/noticias/abogados-768x768.jpeg" alt="Card image cap">
              <div class="card-block p-3">
                  <h4 class="card-title">FIRMA DE CONVENIO INTERINSTITUCIONAL CON EL COLEGIO DE ABOGADOS DE PICHINCHA</h4>

                  <a href="#" class="btn btn-primary rounded-0 mb-2">Leer más</a>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Card fin NOTICIAS-->

